@model OnlineConsulting.Models.ViewModels.Payment.PayForSubscriptionViewModel;
@using OnlineConsulting.Constants;
@using System;
@inject OnlineConsulting.Services.Repositories.Interfaces.ISubscriptionTypeRepository subscriptionTypeRepository 


<div class="container pt-5">

    <form asp-controller="Payment"
          asp-action="PayForSubscription"
          method="post"
          class="bg-dark shadow-dark rounded p-4 d-flex flex-column align-items-start m-auto w-100"
          style="max-width:800px;"
          >

        <div class="d-flex align-items-center mb-4 flex-row">
            <i class="fas fa-user-plus fa-2x text-warning mr-3 mb-md-0"></i>
            <h3 class="text-light m-0">Subscription</h3>
        </div>

        @if (Model.EndDate.Date < DateTime.UtcNow.Date)
        {
            <p class="text-light">Subscription expired.</p>
        }
        else
        {
            <p class="text-light">
                Subscription expiration date: 
                <b data-utc-date="@Model.EndDate"></b>
            </p>
        }

        <p class="text-light">Extend or renew your subscription. Choose subscription duration:</p>

        @{ 
            var subscriptionTypes =  subscriptionTypeRepository.GetAllSubscriptionTypesQuery().ToList();
        }

        @foreach (var subscriptionType in subscriptionTypes)
        {
            
         var isChecked = subscriptionTypes.First() == subscriptionType;
        
        <div class="btn bg-light p-0 pl-2 d-flex align-items-center mb-3 w-100" >
            <input type="radio"
                   class="btn-check"
                   asp-for=@Model.SubscriptionTypeId
                   value=@subscriptionType.Id
                   id=@subscriptionType.Id 
                   checked=@isChecked
                   />
            <label class="text-dark w-100 h-100 m-0 p-2" 
                   style="cursor:pointer;"
                   for="@subscriptionType.Id"
                   >
                @subscriptionType.Name - @subscriptionType.Price @Model.Currency
            </label>
        </div>
        }

        <button class="btn btn-warning" >Pay</button>

    </form>

</div>


@section Scripts {
    <partial name="/Views/Shared/Scripts/_UtcToLocal.cshtml" />
}
